
@{
    ViewBag.Title = "DangNhap";
}

<div id="dangnhap">
    @using (@Html.BeginForm("Index", "Account", new { @strURL = Request.Url.ToString() }))
    {
        <table>
            <tr>
                <td>@Html.Label("Username:")</td>
                <td>@Html.TextBox("txtUsernameAd", null, new { @style = "width:300px" })</td>
                <td><input type="submit" value="Dang Nhap" id="btndangnhap" /></td>
            </tr>
            <tr>
                <td>@Html.Label("PassWord:")</td>
                <td>@Html.Password("txtMatkhauAd", null, new { @style = "width:300px;" })</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">@ViewBag.ThongBao</td>
            </tr>
        </table>
    }
</div>
@{
    if (Request.Cookies["myCookiesAd"] != null)
    {
        HttpCookie ck = Request.Cookies["myCookiesAd"];
        Session["maTaiKhoanAd"] = ck["nameAd"].ToString();
    }
}
@using GiaiDapWeb.Models;
@if (Session["maTaiKhoanAd"] != null)
{
    RequestDBEntities db = new RequestDBEntities();
    string un = Session["username"].ToString();
    var kq = db.Accounts.Where(n => n.username == un).ToList<Account>();

    <div id="">
        @Session["maTaiKhoanAd"].ToString()<br />
        <a href="@Url.Action("DangXuat", "Account",new {@strURL=Request.Url.ToString() })" style="text-decoration:none">Đăng xuất</a>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
                    $(function () {
                        $('#dangnhap').hide();
                    });
    </script>
}

