@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico">
    <title>Quản trị</title>
    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../StyleSheet/dashboard.css" rel="stylesheet">

   
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Trang Quản Trị</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index3","Account")">Quản lý tài khoản</a></li>
                    <li><a href="@Url.Action("Index","Question")">Quản lý câu hỏi</a></li>
                    <li><a href="@Url.Action("Index","Answer")">Quản lý câu trả lời</a></li>
                    <li><a href="@Url.Action("DoiMatKhau","Account")">Đổi mật khẩu</a></li>
                    <li><a href="@Url.Action("DangXuat", "Account", new { @strURL = Request.Url.ToString()})">Đăng xuất</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="@Url.Action("Index3","Account")">Quản lý tài khoản@*<span class="sr-only">(current)</span>*@</a></li>
                    <li><a href="@Url.Action("Index","Question")">Quản lý câu hỏi</a></li>
                    <li><a href="@Url.Action("Index","Answer")">Quản lý câu trả lời</a></li>
                    <li><a href="">Đánh giá</a></li>
                    <li><a href="@Url.Action("Index","Student")">Danh sách sinh viên</a></li>
                    <li><a href="@Url.Action("Index","Ministry")">Danh sách giáo vụ</a></li>
                </ul>

            </div>
            @RenderBody()
      
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
