

@model  GiaiDapWeb.Models.Answer
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- website css style -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- website font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/StyleSheet/signin.css">

    <title>Trả lời</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    @Html.ValidationSummary(true)
                    <form class="" method="post" action="">
                        
                            <div class="form-control">
                                
                                <div class="cols-sm-10">
                                    @Html.DisplayNameFor(m => m.id)
                                    @Html.DisplayFor(m => m.id)
                                </div>
                                <div class="cols-sm-10">
                                    @Html.DisplayNameFor(m => m.question_id)
                                    @*@Html.DropDownList("MaCH", String.Empty)*@
                                   
                                </div>
                                <div class="cols-sm-10">
                                    @Html.DisplayNameFor(m => m.text)
                                    <textarea id="text" name="text" style="width:300px"></textarea>
                                    @Html.ValidationMessageFor(m=> m.text)
                                </div>
                                       
                                    



                                
                            </div>
                        
                        <div class="form-group ">
                            <input type="submit" value="Gửi" class="btn btn-primary btn-lg btn-block login-button" />
                            @ViewBag.Message

                        </div>

                    </form>
                </div>
            </div>
        </div>


    }
    <!-- jquery (necessary for bootstrap's javascript plugins) -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- include all compiled plugins (below), or include individual files as needed -->
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</body>
</html>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
