
@model IEnumerable<GiaiDapWeb.Models.Answer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<link href="../StyleSheet/dashboard.css" rel="stylesheet">
<h2 class="sub-header" style="padding-left:20%">Quản lý câu trả lời</h2>
<div class="table-responsive">
    <table class="table table-striped" style="float:right">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Mã câu hỏi</th>
                <th>Mã số giáo vụ</th>
                <th>Nội dung</th>
                <th>Thời gian</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%"></td>
                    <td width="10%">@Html.DisplayFor(modelItem => item.id)</td>
                    
                    <td width="15%">@Html.DisplayFor(modelItem => item.question_id)</td>
                    <td width="10%">@Html.DisplayFor(modelItem => item.ministry_id)</td>
                    <td width="20%">@Html.DisplayFor(modelItem => item.text)</td>
                    <td width="5%">@Html.DisplayFor(modelItem => item.time_respond)</td>
                    <td width="20%">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Xem", "Details", new { id = item.id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                    </td>
                </tr>


            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Question")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })
</script>
